.task {
  background-color: var(--gray-500);
  border-radius: 8px;
  width: 46rem;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;

  @media (max-width: 800px) {
    width: 38rem;
  }

  @media (max-width: 680px) {
    width: 32rem;
  }

  @media (max-width: 560px) {
    width: 24rem;
  }

  @media (max-width: 460px) {
    width: 20rem;
  }
}

.descriptionOfTheTaskInProgress {
  color: var(--gray-100);
  font-size: 0.875rem;
  flex: 1;
  margin: 0 1.5rem;

  @media (max-width: 560px) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (max-width: 460px) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.fullTaskDescription {
  color: var(--gray-300);
  text-decoration: line-through;
  flex: 1;
  margin: 0 1.5rem;

  @media (max-width: 560px) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (max-width: 460px) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.iconToCompleteTask,
.deleteTaskIcon,
.taskCompletedIcon {
  cursor: pointer;
  transition: 0.3s;
}

.iconToCompleteTask {
  color: var(--blue);
}

.taskCompletedIcon {
  color: var(--purple-dark);
}

.deleteTaskIcon:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}

.completeTaskIcon:hover {
  color: var(--blue-dark);
}
