.wrapper {
  display: flex;
  flex-direction: column;
}

.textArea {
  background-color: var(--gray-400);
  color: white;
  border-radius: 8px;
  width: 39.875rem;
  height: 3.375rem;
  padding: 1rem;
  border: none;

  @media (max-width: 800px) {
    width: 32rem;
  }

  @media (max-width: 680px) {
    width: 26rem;
  }

  @media (max-width: 560px) {
    width: 18rem;
  }

  @media (max-width: 460px) {
    width: 16rem;
  }
}

.textArea:focus {
  outline: 1px solid var(--purple-dark);
  outline-offset: -1px; /* Ajusta o offset para evitar que o tamanho total do input aumente */
}

.inputArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  column-gap: 0.5rem;
}

.newTask {
  width: 5.625rem;
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--blue-dark);
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.newTask:hover:not(:disabled) {
  background-color: var(--blue);
}

.newTask:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  flex-direction: column;
}

.taskCount {
  display: flex;
  width: 46rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-400);

  @media (max-width: 800px) {
    width: 38rem;
  }

  @media (max-width: 680px) {
    width: 32rem;
  }

  @media (max-width: 560px) {
    width: 24rem;
  }

  @media (max-width: 460px) {
    width: 20rem;
  }
}

.createdTasks {
  color: var(--blue);

  @media (max-width: 460px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
}

.completedTasks {
  color: var(--purple);
  margin-bottom: 1.5rem;

  @media (max-width: 460px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
}

.countOfTasksCreated,
.countOfCompletedTasks {
  background-color: var(--gray-400);
  color: white;
  border-radius: 99px;
  padding: 0.15rem 0.75rem;

  @media (max-width: 460px) {
    width: 2rem;
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray-300);
  padding: 2rem 1.5rem;
}

.noTasksIcon {
  margin-bottom: 1rem;
}
